.title{
    padding: 15px;
    text-align: center;
    font-size: 16px;
}
.pay_form{
    margin: 20px 0px 20px 0px;
    
}
.layui-form-item{
    padding-right: 10px;
}
.pay_button{
    width: 90%;
    box-sizing: border-box;
    margin: 30px auto;
    border-radius: 7px;
}
