.content{
    background: #eee;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #666;
    font-size: 14px;
}
.header_img{
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.header_img img{
    width: 130px;
    height: 38px;
    vertical-align: middle;
}
.main_box{
    position: absolute;
    top: 70px;
    bottom: 0px;
    left: 0;
    right: 0;
    background: #fff;
}
.copyBtn{
    width: 80%;
    padding: 8px 0px;
    background: #19be6b;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.numbox{
    text-align: center;
    padding:20px 0px;
}
.numbox .order_num{
    font-size: 18px;
    color:red;
    font-weight: bold;
}
.stemp{
    width: 80%;
    margin: 0 auto;
}
.stemp img{
    width: 100%;
}
.stemp .title{
    /*padding: 2px 0px;*/
    border-bottom: 1px solid #eee;
    margin: 10px;
    color: #ff9900;
}
.ceshi{
    /* background: #19be6b; */
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 10px auto;
}
#qrcode{
    width: 210px;
    height: 200px;
    margin: 20px auto;
    /*background: url("../images/lsy.png") no-repeat;*/
    /*background-size: cover;*/
    margin-top: 5px;
}
.footmain{
    width: 80%;
    margin: 20px auto;
    background: #000;
}
.foot{
    display: inline-block;
    width: 56px;
    height: 55px;
    background: url("../images/wechat-pay.png") 0 0 no-repeat;
    vertical-align: middle;
    *display: inline;
    *zoom: 1
}
.info{
    display: inline-block;
    padding-left: 50px;
    font-weight: bold;
}
#timer{
    text-align: center;
    color: #17233d;
}
#realname{
    text-align: center;
    font-size: 20px;
}